doctype html
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", 
    	rel="stylesheet")
    link(rel='stylesheet', 
    	href='/stylesheets/style.css')

  body
    
    block content

    script(src="//code.jquery.com/jquery-1.9.1.min.js")

    script(src="/javascripts/canvas2image.js")

    script(src="/javascripts/client.js")